@font-face {
  font-family: 'RuneScape';
  src: url('~assets/fonts/RuneScape-UF.eot');
  src: url('~assets/fonts/RuneScape-UF.woff2') format('woff2'),
       url('~assets/fonts/RuneScape-UF.woff') format('woff'),
       url('~assets/fonts/RuneScape-UF.ttf') format('truetype'),
       url('~assets/fonts/RuneScape-UF.svg#RuneScape-UF') format('svg'),
       url('~assets/fonts/RuneScape-UF.eot?#iefix') format('embedded-opentype');
  font-weight: normal;
  font-style: normal;
}

@font-face {
  font-family: 'RunescapeChat';
  src: url('~assets/fonts/Runescape-Chat-Font.eot');
  src: url('~assets/fonts/Runescape-Chat-Font.woff2') format('woff2'),
       url('~assets/fonts/Runescape-Chat-Font.woff') format('woff'),
       url('~assets/fonts/Runescape-Chat-Font.ttf') format('truetype'),
       url('~assets/fonts/Runescape-Chat-Font.svg#Runescape-Chat-Font') format('svg'),
       url('~assets/fonts/Runescape-Chat-Font.eot?#iefix') format('embedded-opentype');
  font-weight: normal;
  font-style: normal;
}

